<div class="banner" style="background: linear-gradient(-225deg, rgba(40,40,40,0.9) 0%, rgba(40,40,40,0.9) 50%), url('https://images.unsplash.com/photo-1461280360983-bd93eaa5051b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80Ö);)">
  <div class="banner_content">
    <h1>We drive integration!</h1>
    <%= link_to "Start now!", questions_path, class: "btn btn-primary banner_button" %>
  </div>
</div>
