.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .banner_content {
    color: white;
    text-align: center;
    h1 {
      font-size: 60px;
    }
    .banner_button {
      background-color: #f46036;
      border: none;
      border-radius: 50px;
      padding: 10px 40px;
    }
  }
}
