.match-card {
  padding: 20px;
  margin: 10px -5px;
  background: white;
  * {
    color: black;
  }
  * {
    &:hover {
      color: black;
    }
  }
  .match-card-header {
    height: 80px;
  }
  .match-card-status {
    height: 30px;
    opacity: 0.5;
  }
  &:hover {
    border-bottom: 5px solid #031926;
    margin-top: -1px;
    transition: 0.3s;
  }
}

.match-link {
  height: auto;
  width: auto;
  &:hover {
    text-decoration: none !important;
  }
}

.subnavbar {
  background-color: #031926;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
