.navbar-home {
  height: 70px;
  justify-content: space-between;
  margin-bottom: -70px;
  background: transparent;
  * {
    color: white;
  }
}

.nav-link {
  // font-weight: 600;
  &:hover {
    color: #031926 !important;
  }
}

.nav-home-link {
  // font-weight: 600;
  color: white !important;
  &:hover {
    color: #f46036 !important;
  }
}

.logout-link {
  font-weight: 600;
  &:hover {
    color: #ff6666 !important;
  }
}

.home-dropdown-item {
  color: black !important;
}

