.speech-bubble {
  width: 90%;
  position: relative;
  float: left;
  background: white;
  border-radius: 10px;
  margin: 10px 0px 10px 10px;
  padding: 10px;
  p {
    margin: 0;
  }
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-bottom: 0;
  margin-top: -5px;
  margin-left: -10px;
}

.speech-bubble-sender {
  width: 90%;
  position: relative;
  float: right;
  background: #c1dbb3;
  border-radius: 10px;
  margin: 10px 0px 10px 10px;
  padding: 10px;
  p {
    margin: 0;
  }
}

.speech-bubble-sender:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #c1dbb3;
  border-right: 0;
  border-bottom: 0;
  margin-top: -5px;
  margin-right: -10px;
}
